<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1> Comments </h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
      
        <mat-list>
            
            <p>
              <mat-list-item *ngFor = "let c of dish.comments">
                {{c.comment}} <br/>
                {{c.rating}} Stars <br/>
                -- {{c.author}} {{c.date | date}} <br/>
              </mat-list-item>
            </p> <br/>

            <!-- <p>
              <mat-list-item>
                {{dish.comments[1].comment}} <br/>
                {{dish.comments[1].rating}} Stars <br/>
                -- {{dish.comments[1].author}} {{dish.comments[1].date | date}}
              </mat-list-item>
            </p> <br/>
            
            <p>
            <mat-list-item>  {{dish.comments[2].comment}} <br/>
              {{dish.comments[2].rating}} Stars <br/>
              -- {{dish.comments[2].author}} {{dish.comments[2].date | date}} </mat-list-item>
           </p> <br/> 
          
            <p>
            <mat-list-item>  {{dish.comments[3].comment}} <br/>
              {{dish.comments[3].rating}} Stars <br/>
              -- {{dish.comments[3].author}} {{dish.comments[3].date | date}} </mat-list-item>
            </p> <br/>

            <p>
            <mat-list-item>  {{dish.comments[4].comment}} <br/>
              {{dish.comments[4].rating}} Stars <br/>
              -- {{dish.comments[4].author}} {{dish.comments[4].date | date}} </mat-list-item>
            </p> <br/> -->

        </mat-list>
        
      </mat-card-content>
 </mat-card>
    </div>
</div>